body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  box-shadow: 0 0 12px -6px;
  padding: 5rem;
  overflow-wrap: anywhere;

  @media screen and (min-width: 720px) {
    width: 50vw;
  }
}

.buttonBar {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;

  button {
    width: 6rem;
    height: 1.5rem;
    transition: .2s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .slider {
    will-change: left;
    transition: left .2s ease-in-out;
    position: absolute;
    left: 50%;
    width: 6rem;
    height: 1.5rem;
    opacity: .2;
    background: rgb(105, 172, 231);
    &.left {
      left: calc(50% - 6rem);
    }
  }
}
